@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all .01s ease-in;
}

html, body {
    height: fit-content;
    font-family: "Open Sans", "Myriad Pro", sans-serif;
}

/*make footer on bottom andheader on top*/
.content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*overal link styles*/
a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.phone-number a:hover {
    color: #000;
}

button {
    padding: 14px 35px;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #ef9400;
}

button:hover, button:active, button:focus {
    border: none;
    outline: none;
    background-color: #de8900;
    background-blend-mode: darken;
}

.main {
    background-color: grey;
    height: 980px;
    position: relative;
    z-index: 0;
}

.main-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 855px;
    width: 1200px;
}

.calc {
    height: 760px;
    width: 100%;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px #b0b0b0 solid;
    -webkit-box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 2;
}

.calc > * > * {
    z-index: 99;
}

.calc__shadowbox {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 300px 42px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 0 300px 42px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 300px 42px rgba(255, 255, 255, 0.6);
    background-color: transparent;
    height: 760px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.calc-content {
    width: 1060px;
    height: 660px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.calc-content__description h2 {
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 800;
}

.calc-content__description p {
    font-size: 14px;
    line-height: 19px;
    margin-top: 20px;
    width: 620px;
    font-weight: 600;
}

.product-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 260px;
}

.product-type__img {
    height: 60%;
    display: inherit;
    align-items: inherit;
}

.product-type__button-container {
    justify-content: inherit;
    display: inherit;
    align-items: inherit;
    height: 40%;
}

.product-type__button {
    padding: 12px 10px 10px 10px;
    min-width: 140px;
    min-height: 53px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    z-index: 99;
}

/*step2_2 input*/

.calc-content-wrapper {
    height: 150px;
    display: flex;
    align-items: start;
}

.order {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.order__label {
    font-size: 18px;
}

.order__name, .order__phone {
    width: 280px;
    height: 50px;
    border-radius: 5px;
    border: 1px gray solid;
    padding-left: 20px;
}

.order__name:focus::placeholder, .order__phone:focus::placeholder {
    color: transparent;
}

.order__order-button {
    font-size: 16px;
    width: 160px;
}

/*step2*/
.window-type {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 550px;
    flex-direction: row;
}

.window-type__picture {
    width: 26%;
}

.window-type__types {
    width: 67%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.window-type__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.each-window-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #ef9400;
}

.each-window-type__button:hover + .each-window-type {
    background-color: #de8900;
}

.each-window-type__button {
    padding-top: 12px;
    padding-bottom: 12px;
}

.each-window-type__size {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}

/*step3*/

.step3-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.window-class {
    border: none !important;
    justify-self: start;
}

.window-class__header {
    height: 140px;
    background-color: #ef9400;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px !important;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}

.window-class__type {
    border: 0;
}

.window-class__name {
    width: 225px;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

.window-class__parts > p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
    padding: 15px;
    width: 130px;
    word-wrap: normal;
}

.windows-class__button {
    color: #ef9400;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    padding: 10px 20px;
}

.windows-class__button:hover, .windows-class__button:focus, .windows-class__button:active {
    background-color: #faead2;
    /*color: zfff;*/
}

.window-class__body {
    font-size: 14px;
    line-height: 18px;
}

.window-class__body:before {
    content: url("../img/info.png");
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 7px 10px 0 0;
}

.window-class__type:not(:last-child) .window-class__body {
    margin-top: -15px !important;
}

.window-class__parts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

/*step4*/

.additional-element-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.addons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.additional-element__checker {
    display: none;
}

.additional-element {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 7px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
}

.additional-element__picture {
    width: 155px;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.empty {
    background-image: none;
    background-color: #e5e5e5;
    width: inherit;
    height: inherit;
}

.lamination {
    height: 83px;
}

.overlay {
    background-color: rgba(255, 162, 0, 0.6);
    width: inherit;
    height: inherit;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 7px;
}

.radio-checked {
    display: none;
    width: 33px;
    height: 33px;
    border: 2px #ffffff solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #f79500;
    color: #ffffff;
    font-size: 18px;
    position: absolute;
}

.additional-element:hover .overlay {
    display: inline-block;
    cursor: pointer;
    position: absolute;
}

.additional-element__checker:checked + .additional-element > .additional-element__picture > .radio-checked {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    -webkit-box-shadow: 3px 2px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 3px 2px 2px rgba(0, 0, 0, .4);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, .4);
}

.additional-element__checker:checked + .additional-element > .additional-element__picture > .overlay {
    display: inline-block;
    cursor: pointer;
    position: absolute;
}

.additional-element__description {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    width: 127px;
}

.lamination-wrapper{
    width: 100%;
    height: fit-content;
}

.lamination-header {
    align-self: start;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 20px;
}

/*step5*/