@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all .02s ease-in;
}

html, body {
    max-height: 100%;
    font-family: "Open Sans", "Myriad Pro", sans-serif;
    width: 100%;
    min-width: 80%;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/*global styles*/
a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.phone-number a:hover {
    color: #000;
}

p {
    margin-bottom: 20px;
}

button, .button {
    padding: 14px 35px;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #ef9400;
    text-align: center;
    text-decoration: none!important;
}

button:hover, button:active, button:focus, .button:hover, .button:active, .button:focus {
    border: none;
    outline: none;
    background-color: #de8900;
    background-blend-mode: darken;
}

/*make footer on bottom and header on top*/
.content-wrapper {
    display: grid;
    grid-template-rows: 50px 110px 1fr 110px;
    grid-template-columns: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
}

/*main block*/
.main {
    background-color: grey;
    height: 100%;
    padding: 50px 0;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*position of main block*/
.main-wrapper {
    margin: auto;
    max-width: 1200px;
    width: 100vw;
    display: grid;
    grid-template-rows: 50px 1fr 45px;
}

/*block with content*/
.calc {
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    flex-direction: column;
    width: 100vw;
    max-width: 1200px;
    min-height: 820px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px #b0b0b0 solid;
    -webkit-box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 2;
    padding: 40px;
}

.calc > * > * {
    z-index: 99;
}

.calc__shadowbox {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 300px 42px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 0 300px 42px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 300px 42px rgba(255, 255, 255, 0.6);
    background-color: transparent;
    height: 760px;
    max-width: 1100px;
    width: 95vw;
    position: absolute;
    z-index: -1;
}

/*block with each step style an position*/
.calc-content {
    /*width: 1060px;*/
    display: none;
}

.calc-content.show {
    display: block;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*description of each step*/
.calc-content__description {
    display: grid;
    grid-template-columns: .8fr;
}

.calc-content__description h2 {
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 800;
}

.calc-content__description p {
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    /*width: 620px;*/
    font-weight: 400;
}

/*step1*/

/*position for type of each window*/
.product-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 260px;
}

.product-type__img {
    height: 60%;
    display: inherit;
    align-items: inherit;
}

.product-type__button-container {
    justify-content: inherit;
    display: inherit;
    align-items: inherit;
    height: 40%;
}

/*specific button style for each window type*/
.product-type__button {
    padding: 15px;
    min-width: 140px;
    min-height: 53px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    z-index: 99;
}

/*step2_2*/

/*step2_2 input*/
.calc-content-wrapper {
    height: auto;
    display: flex;
    align-items: start;
}

/*form style*/
.order {
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin-left: 30px;
    flex-wrap: wrap;
}

.order > * {
    margin-bottom: 15px;
}

/*label in form*/
.order__label {
    font-size: 18px;
    align-self: start;
    padding-bottom: 10px;
    padding-left: 30px
}

/*input style*/
.order__name, .order__phone {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px gray solid;
    padding-left: 20px;
}

.horizontal {
    flex-wrap: nowrap;
}

.horizontal > * {
    margin-right: 35px;
}

.horizontal > button {
    height: 50px;
}

/*hide placeholder when focus*/
.order__name:focus::placeholder, .order__phone:focus::placeholder {
    color: transparent;
}

/*specific button modificator*/
.order__order-button {
    font-size: 16px;
    width: 160px;
}

/*step2*/

/*block with all types*/
.window-type-wrapper {
    display: grid;
    grid-template-columns: 1.01fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "name name name name ." "window types types types types" "window types types types types" "window types types types types";
    justify-content: space-evenly;
}

.calc-content__description {
    grid-area: name;
}

.window-type__picture {
    grid-area: window;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.window-type__picture > img{
    max-width: 250px;
}


.window-type__types {
    grid-area: types;
}

.window-type__types {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*each row*/
.window-type__item {
    display: grid;
    grid-template-columns: 1fr 130px;
    grid-template-rows: 45px;
    margin-bottom: 0.6em;
}

/*each left row with type description*/
.each-window-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #ef9400;
    margin-right: 0.4em;
}

/*highlite type on button hover*/
.each-window-type__button:hover + .each-window-type {
    background-color: #de8900;
}

/*modification of button*/
.each-window-type__button {
    padding-top: 12px;
    padding-bottom: 12px;
    order: 1;
}

/*modification of font style for size of type*/
.each-window-type__size {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}

.each-window-type__size:after {
    content: ' мм';
}


/*step3*/
.step3-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

/*align of each windows class*/
.window-class {
    border: none !important;
    justify-self: start;
}

/*style for each class block*/

.window-class__header {
    height: fit-content;
    background-color: #ef9400;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px !important;
    margin-bottom: 17px;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 180px 1fr 1fr 135px;
    grid-template-rows: 1fr;
    grid-template-areas: "mod_name mod_parts mod_parts mod_button";
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.window-class__name {
    grid-area: mod_name;
}

.window-class__parts {
    display: grid;
    grid-template-columns: repeat(2, 115px 125px) 40px 125px;
    grid-template-rows: 1fr;
    grid-template-areas: "img1 p1 img2 p2 img3 p3";
    grid-area: mod_parts;
    justify-items: center;
    align-items: center;
}

.img1 {
    grid-area: img1;
}

.p1 {
    grid-area: p1;
}

.img2 {
    grid-area: img2;
}

.p2 {
    grid-area: p2;
}

.img3 {
    grid-area: img3;
}

.p3 {
    grid-area: p3;
}

.mod_button {
    grid-area: mod_button;
}

.window-class {
    height: 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*align for blocks with parts*/
.window-class__type {
    border: 0;
}

/*style for class name*/
.window-class__name {
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    justify-self: self-start;
}

/*p with description in each class block*/
.window-class__parts > p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
    padding: 15px;
    word-wrap: normal;
}

.window-class__parts > img {margin-top: 15px}

/*bottons*/
.windows-class__button {
    height: 50px;
    width: 125px;
    color: #ef9400;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    padding: 0;
}

.windows-class__button:hover, .windows-class__button:focus, .windows-class__button:active {
    background-color: #faead2;
    /*color: zfff;*/
}

/*font style for hidden and showen description*/
.window-class__body {
    font-size: 14px;
    line-height: 18px;
}

/*icon before description*/
.window-class__body:before {
    content: url("../img/info.png");
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 7px 10px 0 0;
}

/*margins for description, exept the las one*/
.window-class__type:not(:last-child) .window-class__body {
    margin-top: -15px !important;
}

/*step4*/
/*form style and align elements inside it*/
.addons {
    display: flex;
    justify-content: space-evenly;
}

.additional-element-wrapper {
    margin-bottom: 40px;
}

.each-additional-element {
    height: 220px;
}

/*hide input*/
.additional-element__checker {
    display: none;
}

/*style for labels*/
.additional-element__label {
    height: 155px;
    width: 100%;
    cursor: pointer;
}

/*style and align for container with picture and description*/
.additional-element__container {
    height: 100%;
    position: relative;
    top: -170px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: -1;
}

/*style for picture*/
.additional-element__picture {
    width: 155px;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 7px;
    margin-bottom: 10px;
}

/*no lamination picture*/
.empty {
    background-image: none;
    background-color: #e5e5e5;
    width: inherit;
    height: inherit;
}

/*wrapper for block with lamination types*/
.lamination-wrapper {
    height: fit-content;
    width: 100%;
}

.lamination-header {
    align-self: start;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 20px;
}

/*height modificator for lamination */
.lamination {
    height: 78px;
}

/*overlay style*/
.overlay {
    background-color: rgba(255, 162, 0, 0.6);
    width: inherit;
    height: inherit;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 7px;
}

/*style for icon when checked*/
.radio-checked {
    display: none;
    width: 33px;
    height: 33px;
    border: 2px #ffffff solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #f79500;
    color: #ffffff;
    font-size: 18px;
    position: absolute;
}

/*show overlay when lable hovered */
.additional-element__label:hover + .additional-element__container .overlay {
    display: inline-block;
    position: absolute;
}

/*show checked icon when input checked*/
.additional-element__checker:checked ~ .additional-element__container > .additional-element__picture > .radio-checked {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    -webkit-box-shadow: 3px 2px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 3px 2px 2px rgba(0, 0, 0, .4);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, .4);
}

/*show overlay on c2hecked*/
.additional-element__checker:checked ~ .additional-element__container > .additional-element__picture > .overlay {
    display: inline-block;
    cursor: pointer;
    position: absolute;
}

/*styles for description*/
.additional-element__description {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    width: 127px;
}

/*step5*/
/*align for description and content block*/
.step5-head-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 0 20px 0;
}

.step5-head-wrapper > .calc-content__description {
    grid-template-columns:  1fr;
}

/*align of hotline block*/
.hotline-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 300px;
}

/*align of right hotlinr block*/
.hotline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*hotline icon size*/
.hotline__icon > img {
    width: 53px;
    height: 63px;
}

/*stile for hotline name*/
.hotline__name {
    font-size: 18px;
    text-transform: uppercase;
}

/*modification for call number*/
.hotline__phone, .hotline__phone:hover {
    font-size: 33px;
    font-weight: 800;
    color: black;
}

/*modification for callback link*/
.hotline__callback, .hotline__callback:hover {
    font-size: 16px;
    text-decoration: underline;
    color: black;
}

.callback > span {
    font-size: 14px;
    padding-left: 7px;
}

.callback {
    display: block;
}

/*size for block with total cost and info*/
.total {
    height: auto;
    width: 100%;
}

/*block for total info*/
.total-overal {
    height: auto;
    width: 100%;
    background-color: #f79500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    color: white;
}

/*block for total text description*/
.total-overview {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100%;
}

/*image align*/
.total-overal__image > img {
    max-height: 120px;
}

/*style for modification parameter */
.param {
    font-weight: 800;
}

/*add symbols after parameter*/
.param:after {
    content: ': ';
}

/*add symbols after value except the last one*/
.value:not(:last-child):after {
    content: ', ';
}

/*style for each p with parameters and values*/
.total-overview p {
    margin-bottom: 10px !important;
    margin-left: 40px;
    font-size: 16px;
    line-height: 24px;
}

/*style for columns with parameters and values*/
.total-overview__col {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*style for left column*/
.total-overview__col.left {
    min-width: fit-content;
    max-width: 320px;
}

/*align for total price and promo blocks*/
.price-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*align for elements in price block*/
.price {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

/*block with total cost and quantity*/
.quantity {
    width: fit-content;
    margin-right: 50px;
}

.quantity__label {
    font-size: 18px;
    display: block;
}

.quantity__input {
    width: 66px;
    height: 32px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px grey solid;
    text-align: center;
}

/*style for hide arrows in input type numbers*/
.price__total > input::-webkit-outer-spin-button,
.price__total > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*total price*/
.total-cost {
    width: fit-content;
}

.total-cost__value {
    font-family: "PT Sans", sans-serif;
    font-size: 53px;
    font-weight: 600;
    color: #f79500;
    margin-top: -20px;
}

/*align for items inside promo*/
.promo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 38%;
}

/*align for items inside shipping*/
.shipping {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.shipping__label {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

.shipping__image {
    margin: 10px;
}

.shipping:before {
    content: '+';
    font-size: 18px;
    font-weight: 800;
    margin-right: 10px;
}

/*align and size for bottom block */
.step5-bottom-wrapper {
    height: auto;
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*width for each subblock*/

/*border right for each subblock, except last*/
.step5-bottom-wrapper > div:not(:last-child) {
    border-right: 1px #ef9400 solid;
}

/*styles for first subblock*/
.iq-energy__logo {
    margin-bottom: 10px;
}

.iq-energy__header {
    font-size: 33px;
    font-weight: 800;
    text-transform: uppercase;
}

.iq-energy__description {
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
}

.iq-energy__link {
    text-decoration: underline;
}

.iq-energy__link:hover, .iq-energy__link:focus, .iq-energy__link:active {
    text-decoration: none;
    color: black;
}

/*styles for second subblock*/
.checkout-wrapper {
    height: 100%;
}

/*styles for last subblock*/
.final-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
}

.final-menu > button {
    width: 90%;
    font-size: 18px;
    margin-bottom: 25px;
    padding: 10px 0;
}