.navtabs-wrapper {
    width: 85%;
    margin: auto;
    position: relative;
    top: 0;
}

.navtabs {
    display: flex;
    border: none !important;
    /*overflow: hidden!important;*/
}

.navtabs__item {
    flex: 1;
    text-align: center;
    width: 150px;
    height: 50px;
    border: 2px;
}

.navtabs__link {
    padding: 0 !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border-right: 1px #e2e2e2 solid !important;
    -webkit-box-shadow: 3px 0px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 0px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 0px 1px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    transition: none;
    cursor: default;
}

.navtabs__link::before {
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -15px;
    bottom: -2px;
    width: 30px;
    background: #fff;
    box-shadow: 3px 2px 2px rgba(0,0,0,.4);
    transform: skew(25deg);
}

.navtabs__link::after {
    content:'';
    position:absolute;
    z-index: -1;
    top: 0;
    left: -15px;
    bottom: -2px;
    width: 30px;
    background: #fff;
    box-shadow: -3px 2px 2px rgba(0,0,0,.4);
    transform: skew(-25deg);
}
.navtabs__item:first-child .navtabs__link::after {
    z-index: 0;
}

.navtabs__link.active, .navtabs__link.active::after, .navtabs__link.active::before {
    background-color: #ef8a1b !important;
    border: none !important;
    z-index: 2;
}

.navtabs__link.active .navtab__link-text {
    color: #ffffff;
}

.navtabs__item:hover .navtab__link-text {
    color: #000;
}

.navtabs__item:hover .navtabs__link, .navtabs__item:hover .navtabs__link::before, .navtabs__item:hover .navtabs__link::after {
    background-color: #f2e9e2;
}

.navtabs__item:hover .navtabs__link.active .navtab__link-text {
    color: #fff;
}

.navtab__link-text {
    font-size: 14px;
    z-index: 5;
}

.navbuttons {
    justify-content: space-between;
}

.navbutton__item {
    width: fit-content;
    flex: 0;
}

.navbutton__link {
    width: 140px;
    cursor: pointer!important;
}

.navbutton__link:first-child {
    -webkit-box-shadow: 2px 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 2px 1px 3px rgba(0,0,0,.4);
    box-shadow: 2px 1px 3px rgba(0,0,0,.4);
    color: black;
}

.navbutton__link-text {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.navbutton__item:first-child .navbutton__link-text {
    position: relative;
    left: -8px;
}

.navbutton__item:last-child .navbutton__link-text {
    position: relative;
    left: 8px;
}

.navbutton__item:first-child .navbutton__link::before {
    content: none;
}

.navbutton__link::before {
    transform: skew(-25deg);
    bottom: -1px;
    top: -2px;
    -webkit-box-shadow: 3px 0px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 3px 0px 2px rgba(0,0,0,.4);
    box-shadow: 3px 0px 2px rgba(0,0,0,.4);
}

.navbutton__item:last-child .navbutton__link::after {
    content: none;
}

.navbutton__link::after {
    transform: skew(25deg);
    bottom: -1px;
    top: -2px;
    z-index: -1!important;
    -webkit-box-shadow: 2px 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 2px 1px 1px rgba(0,0,0,.1);
    box-shadow: 2px 1px 1px rgba(0,0,0,.1);
}

