.navtabs-wrapper {
    width: 85%;
    margin: auto;
    position: relative;
    top: 0;
}

.navtabs {
    display: flex;
    border: none !important;
    /*overflow: hidden!important;*/
}

.navtabs__item {
    flex: 1;
    text-align: center;
    width: 150px;
    height: 50px;
    border: 2px;
}

.navtabs__link {
    padding: 0 !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border-right: 1px #e2e2e2 solid !important;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    transition: none;
}

.navtabs__link::before {
    content:'';
    position:absolute;
    z-index: 0;
    top: 0;
    right: -15px;
    bottom: -2px;
    width: 30px;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    transform: skew(25deg);
}

.navtabs__link::after {
    content:'';
    position:absolute;
    z-index: 0;
    top: 0;
    left: -15px;
    bottom: -2px;
    width: 30px;
    background: #fff;
    box-shadow: -2px 2px 2px rgba(0,0,0,.4);
    transform: skew(-25deg);
}

.navtabs__link.active, .navtabs__link.active::after, .navtabs__link.active::before {
    background-color: #ef8a1b !important;
    border: none !important;
    z-index: 2;
}

.navtabs__link.active .navtab__link-text {
    color: #ffffff;
}

.navtabs__item:hover .navtab__link-text {
    color: #000;
}

.navtabs__item:hover .navtabs__link, .navtabs__item:hover .navtabs__link::before, .navtabs__item:hover .navtabs__link::after {
    background-color: #f2e9e2;
}

.navtabs__item:hover .navtabs__link.active .navtab__link-text {
    color: #fff;
}

